@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: black;
  color: white;
}
.loginpage{
    align-items: center;
    margin-top: 10%;
    text-align: center;
    /* height: 100%; */
    margin-bottom: 30%;
}